<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
        Reemplaza el LoggerInterface inyectado en las clases del módulo por nuestro wrapper.
        El wrapper consulta `google_tag_manager/debug/enabled` y silencia todas las
        llamadas cuando el flag está apagado.
    -->
    <type name="GDMexico\GoogleTagManager\Observer\CheckoutSuccessObserver">
        <arguments>
            <argument name="logger" xsi:type="object">GDMexico\GoogleTagManager\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="GDMexico\GoogleTagManager\Observer\AddToCartObserver">
        <arguments>
            <argument name="logger" xsi:type="object">GDMexico\GoogleTagManager\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="GDMexico\GoogleTagManager\Observer\CustomSuccessPageObserver">
        <arguments>
            <argument name="logger" xsi:type="object">GDMexico\GoogleTagManager\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="GDMexico\GoogleTagManager\Controller\Ajax\GetEvents">
        <arguments>
            <argument name="logger" xsi:type="object">GDMexico\GoogleTagManager\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="GDMexico\GoogleTagManager\Model\DataLayer">
        <arguments>
            <argument name="logger" xsi:type="object">GDMexico\GoogleTagManager\Logger\Logger</argument>
        </arguments>
    </type>
</config>
